.sidebar {
  min-width: 230px;
  width: 230px;
  background-color: #f4f4f4;
  height: calc(100vh - 60px);
  top: 0;
  left: 0;
  border-right: 1px solid #dcdcdc;
  ul {
    padding: 8px 4px 0 4px;
    li {
      list-style: none;
      text-align: start;
      cursor: pointer;
      border-bottom: 1px solid #a2a2a269;
      padding: 4px 8px;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: rgb(255, 202, 202);
      }
      a {
        font-size: 20px;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.account-options {
  .accordion {
    &-item {
      border: none;
      background: transparent;
    }
    &-button {
      background: transparent;
      padding: 4px 0;
      font-size: 20px;
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
    &-body {
      padding: 0;
      ul,
      li {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
      }
      li {
        a {
          all: unset;
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }
}
