.chat-box {
  overflow-y: scroll;
  min-height: 82vh;
  max-height: 82vh;
  margin: 0 20px 20px;
  width: calc(100vw - 270px);
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #46d0a0;
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 131, 97, 1) 11.2%,
    rgba(28, 103, 88, 1) 91.1%
  );

  .chat-item {
    margin: 10px 0;
    p {
      position: relative;
      width: fit-content;
      max-width: 80%;
      text-wrap: wrap;
      color: #000;
      background-color: #c9e9db;
      padding: 10px 12px;
      border-radius: 4px;
      .chat-timestamp {
        display: none;
        position: absolute;
        right: 4px;
        top: 98%;
        transform: translateY(-100%);
        font-size: 10px;
        transition: 0.2s ease-in-out;
      }
    }
    &:hover {
      .chat-timestamp {
        display: inline;
      }
    }
    &.ques {
      p {
        background-color: #c3cac6;
      }
    }
  }
}

@media (max-width: 768px) {
  .chat-box {
    width: 95vw;
  }
}

.query-box {
  display: flex;
  margin: 0 20px;
  gap: 4px;
  input {
    border: 2px solid #46d0a0;
  }
}
